# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#OpenAD
.o
*.lo
*.la
configure
Makefile.in
*.tap
*.txt
*.Plo
*.Tpo
*.Po
*.a
*.m4
autom4te.cache
m4
config.log
config.status
libtool
*.lai
*.so*
*.pc
Makefile
*.m
*.tex
*~
*.mod
*.mod-whirl
*.B
*.xaif
src/OAD*.*
config.h
config.h.in
install-sh
src/w2f__types.f90
stamp-h1
src/ad_inline.f
src/ad_template.f
src/head_sf.pre.f
src/head_sf.pre.xb.x2w.w2f.f
src/iaddr.c
src/numCore.pre.xb.x2w.w2f.post.f90
src/numcore_temp.F90
src/numCore.F90
src/numCore.f90
src/oad_template*

